@font-face{
    font-family:'Roboto';
    src:url('../Roboto/Roboto-Regular.ttf') format('truetype')
}

*{
    font-family:Roboto !important
}

.top-fixed-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px
}
.mid-wrapping-grid{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap
}
.mid-fixed-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:8px;
    padding-right:8px
}
.my-label{
    font-size:12px;
    color:#999999
}
.my-input{
    width:100%;
    padding:5px;
    border-radius:8px;
    border:1px solid #999999
}